/* Your stylesheet */

body{
    background-color: #ededed;
}

img{
    width: 100% !important;
    height: 100% !important;
}

p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-top-color: white !important; 
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

li{
    display: inline;
}

.title{
    color: #0BADA6; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 25px;
}

.summary{
    width: 50% !important; 
    height: 50% !important;
}

.box{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: black;
    background-color: white;
}

.row{
    padding-bottom: 30px;
}

.col-lg-6{
    padding-bottom: 20px;
}

.dropdown-page{
    color: grey;
}

.nav-webpage{
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.navbar{
    max-height: 50px;
    background-color: white;
}

.navclass .navbar-brand{
    color: white; 
    padding: inherit;
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.active .dropdown-menu .dropdown-page:active a:hover{
    background-color: #e7e7e7 !important;
}

.dropdown .dropdown-menu .dropdown-page:active .dropdown .dropdown-menu .dropdown-page:hover{
    background-color: #e7e7e7;
}

.active, .side:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
}

.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
}

@media(max-width: 1000px){
    
    .navbar, .bg-light, .navbar-light, .navbar-expand-lg {
        background-color:#0BADA6  !important;
        color: #0BADA6;
        margin-bottom: 20px;
        padding-left: 30px;
    }    
}